@import 'helpers/mixins';
@import "helpers/vars";
@import "helpers/fonts";
html,
body {
	font-family: 'Comfortaa';
}

h1.tit-sec{
    font-family: 'Euphorigenic';
    font-size: 52px;
    margin-bottom: 40px;
}
