.margin-bottom{
	margin-bottom : 20px !important;
} 
.margin-bottom-sm{
	margin-bottom : 10px !important;
} 
.margin-bottom-lg{
	margin-bottom : 30px !important;
} 
.margin-bottom-xxl{
	margin-bottom : 100px !important;
}
.margin-sides{
	margin-left: 20px !important;
	margin-right: 20px !important;
}
.margin-sides-sm{
	margin-left: 10px !important;
	margin-right: 10px !important;
}
.margin-sides-lg{
	margin-left: 30px !important;
	margin-right: 30px !important;
}  
.no-margin{
	margin: 0 !important;
}


.no-padding{
	padding: 0 !important;
}