<h1>{{ 'recipes.RECIPES' | translate }}</h1>
<div class="row">
    <div class="col-xs-12">
        <form action="">
            <label for="inputFilter">{{ 'commons.NAME' | translate }}:</label>
            <div class="inline-block" sc-search-box ng-model="recipesCtrl.searchRecipe"></div>
            <div ng-click="recipesCtrl.clearSearch()" class="margin-sides-sm pointer glyphicon glyphicon-remove-circle"></div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div id="recipes-wrap">
            <ul class="recipes-list">
                <li class="recipe-detail" ng-repeat="rec in recipesCtrl.recipes | filter: { name: recipesCtrl.searchRecipe.txt }">
                    <h3 class="recipe-title">{{rec.name}}</h3>
                    <h5>{{ 'commons.INGREDIENTS' | translate }}:</h5>
                    <ul>
                        <li ng-repeat="ing in rec.ingredientsdetail">
                            {{ing}}
                        </li>
                    </ul>
                    <h5>{{ 'recipes.STEPS' | translate }}:</h5>
                    <ul>
                        <li ng-repeat="det in rec.preparation">
                            {{det}}
                        </li>
                    </ul>
                    <rating ng-model="rec.rating" max="recipesCtrl.maxRating"
                            ng-click="recipesCtrl.changeRating($event, rec, recipesCtrl.overStar)" 
                            on-hover="recipesCtrl.hoveringOver(value)" 
                            on-leave="recipesCtrl.overStar = null" 
                            readonly="recipesCtrl.ratingReadOnly"
                            class="pointer"
                            titles="['one','two','three']"></rating>
                    <span class="label" ng-class="{'label-warning': percent<30, 'label-info': recipesCtrl.percent>=30 && recipesCtrl.percent<70, 'label-success': recipesCtrl.percent>=70}" >{{recipesCtrl.value}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
